<p>
  <b>Author:</b>
  <%= comment.user.name %>
</p>
 
<p>
  <b>Comment:</b>
  <%= comment.body %>
</p>

<p>
<% if comment.user_id == current_user.id %>
  <%= link_to 'Destroy Comment', [comment.recipe, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
<% end %>
</p>
